* {
    list-style-type: none;
}

// nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     padding: 0 3rem;
// }

// .abrir {
//     display: none;
// }

// .cerrar {
//     display: none;
// }

// .navlist {
//     display: flex;
// }

.navlist {
    transform: translate(-50rem);
    transition-duration: 500ms;
}

.mostrar {
    transform: translate(0);
}